.ChatWith {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 10%;
}

.ChatWith li {
    /* height: 100px; */
    /* background: rgb(222, 219, 219); */
    flex: 1 1 calc(50% - 4px);
    border-radius: rgb(91, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    cursor: pointer;
}
